@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* LADO ESQUERDO (VERDE) */
.painel-esquerdo{
    width: 50%;
    background: #141E30;  
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to right, #243B55, #141E30); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.painel-esquerdo button{
    margin-top: 15px;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    outline: none;
    border: none;
    border-color: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: 0.8s ease;
    background-color: rgba(255, 255, 255, 0.76);
}

/* LADO DIREITO (CADASTRO) */
.painel-direito{
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.painel-direito h2{
    display: flex;
    justify-content: center;
}
.caixa-input{
    margin: 10px 0;
}

.caixa-input input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

.botao{
    width: 100%;
    height: 46px;
    border-radius: 12px;
    outline: none;
    border: none;
    border-color: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: 0.8s ease;
    background: #141E30;  
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to right, #243B55, #141E30); 
    color: white;
}

.botao:hover {
    background-color: white;
    transform: translateY(-3px);
}

.botao:active {
    transform: scale(0.95);
}


.botao-esquerdo{
    width: 100%;
    height: 46px;
    border-radius: 12px;
    outline: none;
    border: none;
    border-color: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: 0.8s ease;
    background: white;
    color: black;
}

.botao-esquerdo:hover {
    background-color: white;
    transform: translateY(-3px);
}

.botao-esquerdo:active {
    transform: scale(0.95);
}